/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$color-black: #3b4041;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

$font-family-sans-serif:          "Roboto", "Segoe UI", sans-serif !default;
$font-family-title:          "Roboto Slab", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.center{
    text-align: center;
}

.has-header{
    top:50px;
}

.platform-android {
    .bar {
        height: 50px;
        padding-left: 16px;

        .title {
            font-size: 21px;
            line-height: 51px;
            font-weight: 500;
        }
    }
    

}

.bg{
    background-color: #f9f9f9;
}


.bar.bar-header{
    h1.title{
        color: $color-black;
    }

    .button {
        font-weight: 500;
        color: $color-black;

        i{
            color: $color-black;
        }
    }
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);

}

.button-float{
    background: $energized !important;
    color: #3f3f3f !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;

    width: 56px;
    height: 56px;
    border: none;

    i{
        top: 6px;
        position: absolute;
        left: 19px;
    }

}

.col-60px{
    width: 70px;
    flex: inherit;
}

.item-stacked-label{
    select{
        display: block;
        background: transparent;
        border: none;
        border-bottom: 1px solid #dbdbdb;
        color: #000;

        padding-top: 2px;
        padding-left: 0;
        height: 34px;
        vertical-align: middle;
        line-height: 16px;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
    }
}

.view-login{
    background-image: url(../img/bg.png);
    background-size: cover;

    .container{
        position: absolute;
        bottom: 0px;
        height: 345px;
        width: 100%;
        padding: 30px;
    }

    .button-facebook {
        background-color: #3d589e;
        border: none;
        border-radius: 0px;
        opacity: 1;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;

        i{
            padding-right: 20px;
        }
    }

    .signup {
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 500;
        font-size: 17px;
        margin-top: 25px;
        display: block;
        text-align: center;
        color: #e0dfe0;
    }

    .item-input{
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.32);
        border: none;
        margin-bottom: 25px;

        input{
            border-bottom: 2px solid #ffd700;
            font-size: 16px;
            color: #e0dfe0;
        }
    }

    .recover {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        a{
            text-decoration: none;
            text-transform: lowercase;
            font-weight: 500;
            font-size: 15px;
            display: block;
            text-align: right;
            color: #e0dfe0;
        }
    }
}

.view-signup{

    .col{
        padding: 0px;
        margin: 0px;
    }

    .item{
        background-color: transparent;
        border: none;

        label{
            color: #c9c9c9;
        }

        input{
            background-color: transparent;
            border-bottom: 1px solid #dbdbdb;
            color: #000;
            font-weight: 500;
            font-size: 16px;
        }

    }

    .notice {
        background: #fff;
        height: 100px;
        color: #000000;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
        text-align: center;
        padding: 21px 40px;
        line-height: 22px;

        strong{
            font-size: 18px;
            display: block;
            font-weight: 400;
        }

    }

    .notice-error {
        background: #fff;
        height: 80px;
        color: #f87d66;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
        text-align: left;
        padding: 31px;
        font-weight: 500;

    }

    .item-toggle span{
        font-size: 17px;
        font-weight: 500;
        color: #000;
    }

    .col-60px {
        text-align: center;
    }

}


