<ion-view title="Cadastre-se">
    <ion-header-bar class="bar-energized">
    <button ng-click="$ionicGoBack()" class="button back-button buttons   button-clear">
        <i class="icon ion-android-arrow-back"></i>
    </button>
      <h1 class="title">Cadastre-se</h1>

    <button class="button back-button buttons   button-clear">
        SALVAR
    </button>

    </ion-header-bar>
    <ion-content class="bg view-signup">

        <div class="notice">
            Corrija o erro: nome de usuário
        </div>


        <div class="list padding">

            <div class="item row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome</span>
                        <input type="text">
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">&nbsp;</span>
                        <input type="text">
                    </label>
                </div>
            </div>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome de usuário</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha</span>
                <input type="password">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirme a senha</span>
                <input type="password">
            </label>

            <div class="item row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nascimento</span>
                        <input type="number">
                    </label>
                </div>

                <div class="col-50">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">&nbsp;</span>

                        <select>
                            <option>Janeiro
                            <option>Fevereiro
                            <option>Março
                            <option>Abril
                            <option>Maio
                            <option>Junho
                            <option>Julho
                            <option>Agosto
                            <option>Setembro
                            <option>Outubro
                            <option>Novembro
                            <option>Dezembro
                
                        </select>
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">&nbsp;</span>
                        <input type="number">
                    </label>
                </div>
            </div>
            
            <ion-toggle ng-model="airplaneMode" toggle-class="toggle-calm">Permitir localização</ion-toggle>
        </div>



    </ion-content>
</ion-view>
