<ion-view title="Cadastre-se">
    <ion-header-bar class="bar-energized">
    <button ng-click="$ionicGoBack()" class="button back-button buttons   button-clear">
        <i class="icon ion-android-arrow-back"></i>
    </button>
      <h1 class="title">Olá Mototaxista :)</h1>

    <button class="button back-button buttons   button-clear">
        SALVAR
    </button>

    </ion-header-bar>
    <ion-content class="bg view-signup">

        <div class="notice">
            <strong>Seja bem vindo!</strong>
            Continue seu cadastro para que possamos avaliar seu perfil!
        </div>


        <div class="list padding">

            <div class="item row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Nome completo</span>
                        <input type="text">
                    </label>
                </div>

                <div class="col col-60px">
                    <a class="button button-float">
                        <i class="icon ion-camera"></i>
                    </a>
                </div>
            </div>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">CPF</span>
                <input type="text">
            </label>

            <div class="item row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">CNH</span>
                        <input type="text">
                    </label>
                </div>

                <div class="col col-60px">
                    <a class="button button-float">
                        <i class="icon ion-camera"></i>
                    </a>
                </div>
            </div>


            <div class="item row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">CEP</span>
                        <input type="number">
                    </label>
                </div>

                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Número</span>
                        <input type="number">
                    </label>
                </div>

                <div class="col-50">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Cidade</span>

                        <select>
                            <option>Florinaópolis
                            <option>São Paulo
                            <option>Rio de Janeiro
                
                        </select>
                    </label>
                </div>

            
            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Bairro e Rua</span>
                <input type="text" placeholder="Jd. Das Cruzes, Rua Matilde Das Dores">
            </label>
            
        
        </div>



    </ion-content>
</ion-view>
