<ion-view>
    <ion-content class="view-login" scroll="false">



        <div class="container">

            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="usuário">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="senha">
                </label>
                <div class="item recover">
                    <a href="#" ui-sref="recover">esqueceu a senha?</a>
                </div>
            </div>

            <button class="button button-block button-facebook"><i class="icon ion-social-facebook"></i>Entrar com Facebook</button>

            <a href="#" ui-sref="signup" class="signup">Cadastre-se</a>
        </div>

    </ion-content>
</ion-view>
